@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.loader {
    border-top-color: #ee1d23;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
  }

  @keyframes spinner {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }

.btnLogin{
    @apply w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-primaryColor rounded-md hover:bg-primaryColor/80 focus:outline-none focus:bg-primaryColor focus:ring focus:ring-primaryColor focus:ring-opacity-50
}
.inputText{
    @apply block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md
}

/*cruds*/
.closebttn{
    @apply bg-neutral-200 hover:bg-neutral-400 p-1 rounded-full w-fit ml-auto my-auto;
}


/*users*/

.headertableusers{
    @apply py-4 px-4 text-sm font-normal text-left rtl:text-right
}

.inputGeneral{
    @apply w-full my-1 border-gray-300 focus:border-primaryColor focus:ring focus:ring-primaryColor rounded-md shadow-sm appearance-none border rounded py-1 px-2 text-gray-700;
}


/*assigmentusers*/
.inputAssigment{
    @apply w-3/4 my-1 border-gray-300 focus:border-primaryColor focus:ring focus:ring-primaryColor rounded-md shadow-sm appearance-none border rounded py-1 px-2 text-gray-700;
}

.headertableassigment{
    @apply p-2 text-sm font-normal text-left rtl:text-right
}

.userrightleft{
    @apply w-8 h-8 text-neutral-500 hover:text-white hover:bg-blue-400 rounded-full cursor-pointer
}

.userrightleftyellow{
    @apply w-8 h-8 text-yellow-400 hover:text-white hover:bg-yellow-400 rounded-full cursor-pointer
}

.userleftright{
    @apply w-8 h-8 text-neutral-400 hover:text-white hover:bg-red-400 rounded-full cursor-pointer
}

/*areas process*/
.headertableprocess{
    @apply p-2 text-sm font-normal text-left
}

/*reports*/

.shadow-red:hover{
    filter: drop-shadow(
        0 0 1px rgba(247, 107, 107, 0.8) 
    );
}

.shadow-green:hover{
    filter: drop-shadow(
        0 0 1px rgba(135, 247, 107, 0.8) 
    );
}